@page "/addPost"
@using Data.Models
@using Data.Services

@inject BlogService blogService
@inject NavigationManager navManager
@inject IWebHostEnvironment env

<div style="background: #000;"> 
    <div style="position: sticky; top: 10%; margin-left: 25px; width: 95%">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-center">
                <h1 class="text-white  largest-text-other">Добавить пост</h1>
                <hr class="divider" style="max-width: 35%; margin-left: 15px"/>
            </div>
            <div class="row" style=" margin: 100px auto">
                <div class="card kustom-card" style="width: 90vw;">
                    <div style=" padding-left: 25px; padding-right: 25px">
                        <h5 class="class-title" style="padding: 25px;">
                            Новый пост
                        </h5>
                        <MudTextField Placeholder="Заголовок" T="string" @bind-Value="post.Title" />
                    
                        <MudTextField Placeholder="Подзаголовок" T="string" @bind-Value="post.Subtitle" />

                        <MudTextField Lines=3 Placeholder="Текст" T="string" @bind-Value="post.Text" />
                        <br>
                        <div class="row" style="justify-content: center;">
                            <div class="col-md-6" style="text-align: center; margin-bottom: 10px">
                                @if(isImageAdded)
                                {
                                    <div style="background-size: contain;">
                                        <img style="width: -webkit-fill-available;" src=@("/images/blog/" + post.Image)>
                                    </div>
                                }else
                                {
                                    if(!isLoading)
                                    {
                                        <InputFile id="fileInput" OnChange="UploadFiles" accept=".jpg, .jpeg, .png" hidden />
                                    
                                        <MudButton HtmlTag="label" for="fileInput" Variant="Variant.Outlined" Color="Color.Info">Добавить изображение</MudButton> 
                                        <div style="text-align: center; margin-top: 10px">
                                            <MudButton Variant="Variant.Outlined" Color="Color.Info">Добавить видео</MudButton>
                                        </div>
                                    }
                                }
                            </div>
                            @if(isLoading)
                            {
                                <div style="width: 100%; margin: 0 auto; text-align: center">
                                    <Flow Color="green" Center="true" Size="100px" />
                                </div>
                            }else
                            {
                                <MudButton style="width: 70%; margin: 25px auto" OnClick="@(Submit)" Color="Color.Success" Variant="Variant.Filled">Сохранить</MudButton>
                            }
                        </div>
                        
                        
                    </div> 
                    
                </div>
            </div>
        </div>
    </div>
    
</div> 


@code{
    Post post = new();
    IList<IBrowserFile> files = new List<IBrowserFile>();
    bool isLoading, isImageAdded;
    async Task Submit()
    {
        post.Id = Guid.NewGuid().ToString();
        post.Posted = DateTime.Now;
        await blogService.AddAsync(post);
        navManager.NavigateTo("blog", true);
    }
    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        var path = env.WebRootPath + "/images/blog/"; 
        FileStream fs = new FileStream(path + e.File.Name, FileMode.Create);
        await e.File.OpenReadStream(maxAllowedSize: 40000000).CopyToAsync(fs); 
        await blogService.AddImageAsync("/images/blog/" + e.File.Name, string.Empty);
        post.Image = e.File.Name;
        isLoading = false;
        isImageAdded = true;
        //TODO upload the files to the server
        @* navManager.NavigateTo("photos", true); *@
    }
}