@page "/addPost"
@using Data.Models

<div style="background: #000;"> 
    <div style="position: absolute; top: 10%; left: 25px; width: 100%">
        <div class="col-lg-10 align-self-center">
            <h1 class="text-white  largest-text">Добавить пост</h1>
            <hr class="divider" style="max-width: 35%; margin-left: 15px"/>
        </div>
        <div class="row" style="width: 30%; margin: 100px auto">
            <div class="card" >
                <div style="width: 100%; padding-left: 25px; padding-right: 25px">
                    <h5 class="class-title" style="padding: 25px;">
                        Новый пост
                    </h5>
                    <MudTextField Placeholder="Заголовок" T="string" @bind-Value="post.Title" />
                 
                    <MudTextField Placeholder="Подзаголовок" T="string" @bind-Value="post.Subtitle" />

                    <MudTextField Lines=3 Placeholder="Текст" T="string" @bind-Value="post.Text" />
                    <br>
                    <div class="row" style="justify-content: center;">
                        <div class="col-md-6" style="text-align: center;">
                            <InputFile id="fileInput" OnChange="UploadFiles" accept=".jpg, .jpeg, .png" hidden />
                             
                            <MudButton HtmlTag="label" for="fileInput" Variant="Variant.Outlined" Color="Color.Info">Добавить изображение</MudButton> 
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <MudButton Variant="Variant.Outlined" Color="Color.Info">Добавить видео</MudButton>
                        </div>
                    </div>
                    
                    
                </div> 
                <MudButton style="width: 70%; margin: 25px auto" OnClick="Submit" Color="Color.Success" Variant="Variant.Filled">Сохранить</MudButton>
            </div>
        </div>
    </div>
    
</div> 


@code{
    Post post = new();
    IList<IBrowserFile> files = new List<IBrowserFile>();
    async Task Submit()
    {

    }
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        //TODO upload the files to the server
    }
}