@page "/"

<PageTitle>Ядерная Rомантика</PageTitle>  
<div style="background: #000;">
    @* <div class="image-overlay" style="@image"></div> *@
    <div style="position: absolute; top: 25%">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-center">
                    <h1 class="text-white font-weight-bold text-bold largest-text">ЗДЕСЬ ЖИВЕТ ТВОРЧЕСТВО</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5"></p>
                    <a class="btn btn-primary btn-xl" href="#about">БЛИЖЕ</a>
                </div>
            </div>
        </div>
</div>
    
     

@code{
    string image = string.Empty;
    protected override void OnInitialized()
    {
        var rnd = new Random();
        image = "background-image: url(/images/mainbg" + Math.Ceiling((decimal)rnd.Next(1,400)/100) + ".jpg);";
    }
}