@inherits LayoutComponentBase

<PageTitle>yadro</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/> 
        <NavMenu />
     
    <main class="container" style="max-width: 100vw;">  
        <div class="image-overlay" style="@image"></div>
        @Body 
    </main> 
@code{
    string image = string.Empty;

    protected override void OnInitialized()
    {
        var rnd = new Random();
        image = "position: fixed;background-image: url(/images/mainbg" + Math.Ceiling((decimal)rnd.Next(1,400)/100) + ".jpg);";
        
    }
}