 
 <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" style="width: 100vw; margin-bottom: 0 !important; position: fixed; z-index: 500;">
    <div class="container-fluid">
        <div class="col-md-9">
            <a class="navbar-brand" style="margin-left: 25px;" href="/">Ядерная Rомантика?</a>
            
        </div>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse @NavBarCssClass col-md-3" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0" style="self-align: right;">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Главная
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/photos" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Фото
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/videos" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Видео
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/blog" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Блог
                    </NavLink>
                </li>
                <AuthorizeView>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Выход
                        </NavLink>
                    </li>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
@* 
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/photos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Фото
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/videos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Видео
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blog" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Блог
            </NavLink>
        </div>
        
    </nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
